{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Treatments applied without limit info as of {{as_of}} {% endblock %}</h1>
<table>
  <tr class="table_head">
    <th>Plant</th>
    <th>Treatment</th>
    <th>Date</th>
  </tr>
    {% for treatment in treatments %}
        <tr class="table_entry">
          <td>{{ treatment['plant'] }}</td>
          <td>{{ treatment['treatment'] }}</td>
          <td>{{ treatment['date'] }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
        
